# Establecer el lenguaje:
language: python

# No es necesario especificar el sistema operativo, puesto
# que Travis utiliza Linux por defecto.

# Le indicamos a Travis que necesitamos MongoDB para los test:
services:
  - mongodb

# Ejecutar los test sobre diferentes versiones de python:
python:
  - "3.5"
  - "3.6"
  - "3.6.8"
  - "3.7"
  - "3.8"
  - "3.8-dev"  # Rama "development" de la 3.8

# Instalar las dependencias utilizando la herramienta de construcci贸n:
install:
  - make install
  - pip install codecov # Adicionalmente instalamos codecov:

# Crear la base de datos y la colecci贸n que necesitamos para los tests:
before_script:
  - sleep 15 # Recomendado por travis para evitar errores de conexi贸n.
  - mongo EventsDB --eval 'db.createCollection("events");'

# Ejecutar los test con la herramienta de construcci贸n:
script:
  - make test

# Enviar los resultados del test de cobetura a Codecov:
after_success:
  - codecov